{% extends "layout/base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="card col-md-5 login shadow">
            <div class="card-body">
            <span class="login-icon">
                <i class="fas fa-sign-in-alt"></i>
            </span>
                <h2 class="login-title">Log In</h2>
                <form action="" method="post" novalidate class="mt-5">
                    {{ form.hidden_tag() }}
                    <div class="form-group login-group">
                        {{ form.username(class="login-form", placeholder="Username", autocomplete="off") }}
                        <span class="login-span username"></span>
                        {% for error in form.username.errors %}
                            <span class='invalid-feedback'>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="form-group login-group">
                        {{ form.password(class="login-form", placeholder="Password", autocomplete="off") }}
                        <span class="login-span password"></span>
                        {% for error in form.password.errors %}
                            <span class='invalid-feedback'>{{ error }}</span>
                        {% endfor %}
                    </div>
                    <br>
                    <div class="form-check form-group login-check">
                        {{ form.remember_me(class="form-check-input") }}
                        <label class="form-check-label" for="remember_me">Remember me</label>
                    </div>
                    <div class="login-links">
                        {{ form.submit(class="login-btn", value="Login") }}
                        <a href="">Lost Password?</a>
                        <a href="">No account? Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}