{% extends "layout/base.html" %}

{% block content %}
    <div class="col-md-6 mx-auto">
        <div class="card card-body bg-light mt-5">
            <h2>Create An Account</h2>
            <p>Please fill out this form to register with us</p>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="name">Name: <sup>*</sup></label>
                    {{ form.username(class="form-control form-control-lg") }}
                    {% for error in form.username.errors %}
                        <span class='invalid-feedback'>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="name">Email: <sup>*</sup></label>
                    {{ form.email(class="form-control form-control-lg") }}
                    {% for error in form.email.errors %}
                        <span class='invalid-feedback'>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="name">Password: <sup>*</sup></label>
                    {{ form.password(class="form-control form-control-lg") }}
                    {% for error in form.password.errors %}
                        <span class='invalid-feedback'>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="name">Confirm Password: <sup>*</sup></label>
                    {{ form.password_confirm(class="form-control form-control-lg") }}
                    {% for error in form.password_confirm.errors %}
                        <span class='invalid-feedback'>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form.submit(class="btn btn-success btn-block") }}
                    </div>
                    <div class="col">
                        <a href="{{ url_for('login') }}" class="btn btn-light btn-block">Have an account? Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}